/* Custom GamepadViewer skin */

.controller.custom {
    background-image: url("https://raw.githubusercontent.com/madryboy/gamepadviewer-skins/main/ps5nobackground.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 900px;
    height: 600px;
}

/* Hide default SVG controller */
.controller.custom svg {
    display: none !important;
}


